<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weather_Forecast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weather_Forecast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Weather_Forecast.Properties.Settings>
            <setting name="LastCityIdUsed" serializeAs="String">
                <value>-1</value>
            </setting>
        </Weather_Forecast.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Weather_Forecast.Properties.Settings>
            <setting name="WeatherApiKey" serializeAs="String">
                <value>9ac4efdffb644a5086f203430242910</value>
            </setting>
        </Weather_Forecast.Properties.Settings>
    </applicationSettings>
</configuration>